
@{
    ViewData["Title"] = "AddPasswordConfirmation";
}

    <div class="card mt-5">
        <div class="card-body">
            <p><b>You have set your local password successfully, you can now login with local user account or External login account</b></p>
        </div>
    </div>

