@model AddPasswordViewModel
@{
    ViewData["Title"] = "AddPassword";
}

<h3 class="mt-4">Add Password</h3>
<hr />

<p class="text-info">
    You have used External account to login, and do not have local username and password, simply set new password if you
     want to login by using local account and password, use you email as username.
</p>

<div class="row">
    <div class="col-md-11">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:auto">Set Password</button>
        </form>
    </div>
</div>

