
@{
    ViewData["Title"] = "ChangePasswordConfirmation";
}

<div class="card mt-5">
    <div class="card-body">
        <p><b>Your Password has changed Successfully, you can now login with new password!</b></p>
    </div>
</div>

