
@{
    ViewData["Title"] = "ConfrimEmail";
}

<div class="card mt-4">
    <div class="card-body">
        <h3> Thank you for Confrimed Email, Now you can login with registered Email</h3>
    </div>
</div>

