
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}
<div class="card mt-4">

    <div class="card-body">
        <h4> we have sent you forgot password link on registered email with the instruction to Reset Password.</h4>
    </div>
</div>
