
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
}
<hr />
<div class="card mt-5">
    <div class="card-body">
        <h4 class="mt-4">Your password has been reset please click <a asp-action="Login"> here to login</a></h4>
    </div>
</div>
